.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.leftSide {
  flex-grow: 1;
}

.headerText {
  flex-grow: 4;
}

.donate {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
