.sidebar {
  padding-left: 4px;
}

.list-group-item {
  width: 300px;
  height: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.list-group-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.list-group-item .content-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.list-group-item h3,
.list-group-item p {
  text-wrap: wrap;
  margin: 0;
  padding: 5px;
  color: white;
  width: 100%;
}

@media (max-width: 280px) {
  .forms-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-content {
    padding: 5px;
  }
  #footer {
    display: flex;
    flex-wrap: wrap;
  }
  #text {
    font-size: 1rem;
    white-space: normal;
    margin: 0px;
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    padding: 0px;
  }
  .list-group {
    display: flex;
    align-items: center;
  }
  .content-wrapper {
    padding: 1rem;
  }
  h4 {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 0px;
  }
  h2 {
    text-align: center;
    padding: 1rem;
  }
}
