.game-search {
    max-width: 400px; 
    /* margin sets search to center of page component */
    /* margin: 0 auto;  */
    padding: 20px;
    position: relative;
  }

  .game-search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .game-search .list-group {
    width: 100%;
    max-height: 400px; 
    overflow-y: auto;
    border-top: none;
    /* border-radius: 0 0 4px 4px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
  }

  .game-search .list-group-item {
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 100%;
    display: block;
  }

  .game-search .list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
    content: '';
  }
  
  .game-search .list-group-item:hover::before {
    width: 100%;
  }
  
  .game-search .list-group-item {
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 100%; 
  }

  .game-search .list-group-item:hover {
    max-width: 400px; 
    background-color: #b8b8b8;
  }

  /* Hide the dropdown if both conditions are not met */
  /* .game-search:not(:focus-within) .list-group {
    display: none;
  } */
