.sidebar {
    padding-left: 4px;
    display: block;
}

.list-group-item {
    width: 300px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.list-group-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.list-group-item .content-wrapper {

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}


.list-group-item h3,
.list-group-item p {

    text-wrap: wrap;
    margin: 0;
    padding: 5px;
    color: white;
    width: 100%;
}

@media (max-width: 768px) {
    .sidebar{
        display: none;
    }
}

